@import '../../scss/vars';
@import '../../scss/mixin.scss';

.btn {
  @include flexItem(center,center);
  position: relative;
  border: 0;
  background-color: $uiBackground;
  color: $lightColor;
  border-radius: 10px;
  width: 50%;
  min-height: 60px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  box-shadow: 2px 1px 10px #3e3333;
  margin-bottom: 20px;
  transition: transform, 0.5s;
  transform: scale(1);

  @media(max-width:$tableScreen) {
    width: 80%;
  }

  @media(max-width:$phoneMiddleScreen) {
    width: 100%;
    font-size: 16px;
    min-height: 50px
  }

  &:disabled,
  &--disabled {
    cursor: not-allowed;
    background-color: $disabledColor;
  }

  &:hover {
    opacity: 0.9;
  }

  &:active:not(input,select) {
    transform: scale(1.05);
  }

  &--active {
    background: $lightColor;
    color: $darkColor;
  }

  &--small {
    width: 50px;
    display: inline-flex;
    margin-right: 10px;
  }

  &--logout {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  &--modal {
    width: 85px;
    padding: 5px;
    min-height: 40px;
    font-size: 15px;
  }

  &--select {
    text-align: center;
    margin: 0;
    height: 50px;
  }


  &--center {
    margin-inline: auto;
  }

  &--nav {
    width: 120px;
    background-color: $lightColor;
    color: $darkColor;
    transform: scale(1);
    margin: 0;

    @media(max-width:$phoneMiddleScreen) {
      width: 80px;
      font-size: 12px;
    }
  }
}

.quiz-number {
  position: absolute;
  left: 10px;
}