@import '../../scss/vars.scss';

.title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  max-width: 50%;
  margin: 0 auto 20px auto;

  @media (max-width:$tableScreen) {
    max-width: 80%;
  }

  @media(max-width:$phoneMiddleScreen) {
    font-size: 20px;
  }
}