@import '../../scss/vars.scss';
.analytic {
    margin-bottom: 20px;
    font-size: 20px;
}

.answers-wrap {
    text-align: initial;
    margin: 0 auto;
    width: 50%;
    font-size: 16px;
  
    @media(max-width:$tableScreen) {
      width: 80%;
    }
  
    @media(max-width:$phoneMiddleScreen) {
      width: 100%;
    }
  }
  
  .answers {
    margin-bottom: 10px;
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
  
  
    div {
      margin-bottom: 5px;
    }
  }
  
  .answers--correct {
    border-color: $uiBackground;
  }
  
  .answers--wrong {
    border-color: #ff0000;
  }