@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
@import 'vars';
@import 'reset';
@import 'transition';

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: $backColor;
  color: $lightColor;
}

